@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 194 3% 13%;

    --card: 0 0% 100%;
    --card-foreground: 194 3% 13%;

    --popover: 0 0% 100%;
    --popover-foreground: 194 3% 13%;

    --primary: 195 67% 53%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 195 67% 53%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 195 67% 53%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 15.8% 96.3%;
    --input: 220 15.8% 96.3%;
    --ring: 194 3% 13%;

    --radius: 0.125rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply m-auto flex max-w-screen-lg flex-col justify-center bg-primary text-foreground;
  }
}
